---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import MainLayout from "../../layout/MainLayout.astro";
import PokemonsCards from "../../components/pokemons/PokemonsCards.astro";
import { Icon } from "astro-icon/components";
import Title from "../../components/shared/Title.astro";

export const getStaticPaths = (async () => {
  const resp = await fetch(`https://pokeapi.co/api/v2/pokemon?limit=151`);
  const { results } = (await resp.json()) as PokemonListResponse;

  return results?.map(({ name, url }) => ({
    params: { name: name },
    props: { name: name, url: url },
  }));
  // return [
  //   {
  //     params:{name:'bulbasaur'},
  //     props:{name:'bulbasaur',url:'https://pokeapi.co/api/v2/pokemon/1/'}
  //   },
  //   {
  //     params:{name:'charmander'},
  //     props:{name:'charmander',url:'https://pokeapi.co/api/v2/pokemon/4/'}
  //   },
  //   {
  //     params:{name:'raticate'},
  //     props:{name:'raticate',url:'https://pokeapi.co/api/v2/pokemon/19/'}
  //   }
  //
  // ];
}) satisfies GetStaticPaths;
const { name } = Astro.params;
const { url } = Astro.props;
const id = url.split("/").at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imgSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<MainLayout
  title={`Pokemon - #${id} ${name}`}
  description=`Informacion del pokemon ${name}`
  image={imgSrc}
>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <section class="flex flex-row">
      <div>
        <article>
          <button onclick="history.back()" class="text-blue-500"
            >Regresar</button
          >
          <Title>{name}</Title>
        </article>
        <button id="btn-favorite" class="ml-4" data-name={name} data-id={id}>
          <Icon data-outline class="" name="heart-light" size="50" />
          <Icon data-full class="hidden" name="heart-full" size="50" />
        </button>
      </div>
    </section>
    <PokemonsCards name={name} url={url} isBig />
    <audio controls class="mt-5">
      <source src={audioSrc} type="audio/ogg" />
      your brower does not support the audio element
    </audio>
  </section>
</MainLayout>

<script>
import type {FavoritePokemon} from '../../interfaces/favorite-pokemons'
  // interface FavoritePokemon {
  //   name: string;
  //   id: number;
  // }

  // document.addEventListener("astro:before-preparation", () => {
  //   console.log("before-preparation");
  // });

  // document.addEventListener("astro:after-preparation", () => {
  //   console.log("after-preparation");
  // });

  // document.addEventListener("astro:before-swap", () => {
  //   console.log("before-swap");
  // });

  // document.addEventListener("astro:after-swap", () => {
  //   console.log("after swap");
  // });

  // document.addEventListener("astro:page-load", () => {
  //   console.log("page-load");
  // });

  const handlePageLoad = () => {
    let favoritePokemons: FavoritePokemon[] = JSON.parse(
      localStorage.getItem("favorites") ?? "[]"
    );

    const btnFavorite = document.querySelector(
      "#btn-favorite"
    ) as HTMLButtonElement;

    const name = btnFavorite?.dataset?.name ?? "";
    const id = btnFavorite?.dataset?.id ?? "";
    const isFavorite = favoritePokemons.some((fav) => fav.name === name);

    const heartOutline = btnFavorite?.querySelector(
      "[data-outline]"
    ) as HTMLElement;
    const heartFull = btnFavorite?.querySelector("[data-full]") as HTMLElement;

    //funcion para mostrar o ocualtar el corazon vacio
    if (isFavorite) {
      heartOutline.classList.add("hidden");
      heartFull.classList.remove("hidden");
    }

    const toggleFavorite = () => {
      if (isFavorite) {
        favoritePokemons = favoritePokemons.filter(
          (fav) => fav.name !== name
        );
      } else {
        favoritePokemons.push({
          id: +id,
          name: name,
        });
      }
      localStorage.setItem("favorites", JSON.stringify(favoritePokemons));
    };

    btnFavorite?.addEventListener("click", () => {
      heartOutline.classList.toggle("hidden");
      heartFull.classList.toggle("hidden");
      toggleFavorite();
    });
  };
  document.addEventListener("astro:page-load", handlePageLoad);
</script>

<style>
  a {
    @apply hover:underline text-blue-500;
  }
  #btn-favorite {
    @apply hover:animate-pulse;
  }
</style>
